templates/languages/*/scripts/types.ts

# node_modules still gets packed for `./templates/languages/css` for some reason?
**/node_modules/
**/package-lock.json
**/pnpm-lock.yaml
**/bun.lockb
**/yarn.lock
